<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flask Google Maps Example</title>
    {{"decoupled-map"|googlemap_js(37.4419, -122.1419, varname="decoupledmap", markers=[(37.4419, -122.1419)])}}
    {{mymap.js}}
    {{sndmap.js}}
    {{trdmap.js}}
    {{clustermap.js}}
    {{movingmap.js}}
    {{rectmap.js}}
    {{circlemap.js}}
    {{plinemap.js}}
    {{pgonmap.js}}
	<link type="text/css" rel="stylesheet" href="./static/css/foundation.min.css">
  <Link type="text/css" rel="stylesheet" href="./static/css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	<header class="header">
	  <div class="row">
      <div class="medium-4 columns">
        <h1 id="title-site">Flask Google Maps</h1>
      </div>
      <div class="medium-8 columns">
        <ul class="menu">
            <li><a href="#">Repository</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">Issues</a></li>
        </ul>
      </div>
	  </div>
	</header>
  <main role="main">
    <div class="hero">
      <div class="back-map medium-12 columns">
        {{googlemap("hero-map",
                    -5.0883188, -42.8121686,
                    varname="heromap",
                    style="height: 380px;width: 100%;",
                    zoom_control=False,
                    maptype_control=False,
                    scale_control=False,
                    streetview_control=False,
                    rotate_control=False,
                    scroll_wheel=False,
                    fullscreen_control=False)}}
      </div>
    </div>
	  <div class="row">
      <div class="medium-12 small-12 columns">
		    <h1>Flask Google Maps Example</h1>
        <h2>Template function centered, no marker, no controls</h2>
        <div class="medium-6 columns">
          {{googlemap("no-controls-map",
                      37.4419, -122.1419,
                      varname="nocontrolsmap",
                      zoom_control=False,
                      maptype_control=False,
                      scale_control=False,
                      streetview_control=False,
                      rotate_control=False,
                      fullscreen_control=False)}}
                    </div>
        <div class="medium-6 columns">
          <pre>
            {
                googlemap(
                    identifier="no-controls-map",
                    lat=37.4419,
                    lng=-122.1419,
                    zoom_control=False,
                    maptype_control=False,
                    scale_control=False,
                    streetview_control=False,
                    rotate_control=False,
                    fullscreen_control=False
                )
            }}
          </pre>
        </div>
		  </div>
	  </div>
	</main>
</body>
</html>
